*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
        font-family: 'Tangerine', serif;
        font-size: 40px;
        text-shadow: 4px 4px 4px #aaa;
}
.myback{
    height: 100%;
    width: 100%;
    background-image: url(./bg.webp);
    background-size: cover;
}
h1{
    position :absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    font-family: buttermilk;
    font-weight: 100;
    font-size: 100px;
    color: #fff;
    mix-blend-mode :difference;
}